# URL của Backend API (Mặc định là localhost:5000 cho môi trường dev)
# Lưu ý: Không có /api ở cuối vì các file route đã xử lý
NEXT_PUBLIC_API_URL=

# Cấu hình Google OAuth (Lấy từ Google Cloud Console)
NEXT_PUBLIC_GOOGLE_OAUTH_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_OAUTH_CLIENT_SECRET=

# API Key cho Google Maps (Sử dụng cho bản đồ hiển thị vị trí phòng)
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=