PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Biến môi trường của PostgreSQL. Nếu bạn sử dụng cơ sở dữ liệu khác, hãy thay đổi tên biến cho phù hợp.
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_LOGGING=false

# Biến môi trường cho JWT. Bạn nên tạo các giá trị bí mật mạnh mẽ cho JWT_ACCESS_SECRET và JWT_REFRESH_SECRET.
# 2 Secret này được tạo sẵn bằng mã UUID. Bạn có thể thay đổi nếu cần thiết (khuyến nghị)
JWT_ACCESS_SECRET=f73c7add-f787-4964-970b-b868cc826d48
JWT_REFRESH_SECRET=b1a92a14-b001-4868-a550-c4173e892f55
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Biến môi trường cho Google OAuth. Bạn cần điền biến này để hệ thống không gặp lỗi khi người dùng đăng nhập bằng Google.
# Bạn có thể tạo một dự án trên Google Cloud Console, sau đó tạo thông tin đăng nhập OAuth 2.0 để lấy Client ID.
GOOGLE_CLIENT_ID=

# Biến môi trường cho Cloudinary để lưu trữ ảnh.
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_ROOT_FOLDER_IMAGES=

# Biến môi trường cho Redis.
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Biến môi trường cho chức năng xác thực email.
# Các chức năng liên quan gồm: đăng ký, quên mật khẩu.
# Nếu bật, hệ thống sẽ gửi email xác thực cho người dùng khi đăng ký hoặc yêu cầu đặt lại mật khẩu.
# Mặc định là false cho môi trường test
VERIFY_EMAIL_TOGGLE=false
SMTP_SERVER=
SMTP_PORT=
SMTP_SECURITY=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME='Rental Listing Platform'
